#sylph {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#sylph button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

#sylph button:active {
	background-color: #ddd;
}

#sylph button:focus {
	border-color: #666;
}

#sylph .msg {
  padding: 0.5rem 0;
}

#sylph .act {
  padding: 0.5rem 0;
}

#sylph.oops svg * {
  fill: red;
  stroke: red;
  stroke-width: 3;
}

#sylph.splash svg * {
  fill: none;
}

#sylph.splash svg *.stroke-primary {
  stroke: #0c99db;
  stroke-width: 3;
}

#sylph.splash svg *.stroke-muted {
  stroke: #bfe8fb;
  stroke-width: 3;
}
